# The Docker image that will be used to build your app
image: ubuntu:latest
# Functions that should be executed before the build script is run
before_script:
  - make refresh
pages:
  script:
    - make docs-multiversion
  artifacts:
    paths:
      # The folder that contains the files to be exposed at the Page URL
      - docs/html/
  rules:
    # This ensures that only pushes to the default branch will trigger
    # a pages deploy
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
