attrs==23.1.0 ; python_version >= "3.9" and python_version < "3.13"
build==0.10.0 ; python_version >= "3.9" and python_version < "3.13"
cachecontrol[filecache]==0.13.1 ; python_version >= "3.9" and python_version < "3.13"
certifi==2023.7.22 ; python_version >= "3.9" and python_version < "3.13"
cffi==1.16.0 ; python_version >= "3.9" and python_version < "3.13" and (sys_platform == "darwin" or sys_platform == "linux")
charset-normalizer==3.2.0 ; python_version >= "3.9" and python_version < "3.13"
cleo==2.0.1 ; python_version >= "3.9" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "3.13" and os_name == "nt"
crashtest==0.4.1 ; python_version >= "3.9" and python_version < "3.13"
cryptography==41.0.4 ; python_version >= "3.9" and python_version < "3.13" and sys_platform == "linux"
distlib==0.3.7 ; python_version >= "3.9" and python_version < "3.13"
dulwich==0.21.6 ; python_version >= "3.9" and python_version < "3.13"
filelock==3.12.4 ; python_version >= "3.9" and python_version < "3.13"
idna==3.4 ; python_version >= "3.9" and python_version < "3.13"
importlib-metadata==6.8.0 ; python_version >= "3.9" and python_version < "3.12"
installer==0.7.0 ; python_version >= "3.9" and python_version < "3.13"
jaraco-classes==3.3.0 ; python_version >= "3.9" and python_version < "3.13"
jeepney==0.8.0 ; python_version >= "3.9" and python_version < "3.13" and sys_platform == "linux"
jsonschema==4.17.3 ; python_version >= "3.9" and python_version < "3.13"
keyring==24.2.0 ; python_version >= "3.9" and python_version < "3.13"
more-itertools==10.1.0 ; python_version >= "3.9" and python_version < "3.13"
msgpack==1.0.7 ; python_version >= "3.9" and python_version < "3.13"
numpy==1.26.0 ; python_version >= "3.9" and python_version < "3.13"
packaging==23.0 ; python_version >= "3.9" and python_version < "3.13"
pexpect==4.8.0 ; python_version >= "3.9" and python_version < "3.13"
pkginfo==1.9.6 ; python_version >= "3.9" and python_version < "3.13"
platformdirs==3.10.0 ; python_version >= "3.9" and python_version < "3.13"
poetry-core==1.7.0 ; python_version >= "3.9" and python_version < "3.13"
poetry-plugin-export==1.5.0 ; python_version >= "3.9" and python_version < "3.13"
poetry-version-plugin @ git+https://github.com/oasci/poetry-version-plugin@support-versioneer ; python_version >= "3.9" and python_version < "3.13"
poetry==1.6.1 ; python_version >= "3.9" and python_version < "3.13"
ptyprocess==0.7.0 ; python_version >= "3.9" and python_version < "3.13"
pycparser==2.21 ; python_version >= "3.9" and python_version < "3.13" and (sys_platform == "darwin" or sys_platform == "linux")
pyproject-hooks==1.0.0 ; python_version >= "3.9" and python_version < "3.13"
pyrsistent==0.19.3 ; python_version >= "3.9" and python_version < "3.13"
pywin32-ctypes==0.2.2 ; python_version >= "3.9" and python_version < "3.13" and sys_platform == "win32"
rapidfuzz==2.15.1 ; python_version >= "3.9" and python_version < "3.13"
requests-toolbelt==1.0.0 ; python_version >= "3.9" and python_version < "3.13"
requests==2.31.0 ; python_version >= "3.9" and python_version < "3.13"
secretstorage==3.3.3 ; python_version >= "3.9" and python_version < "3.13" and sys_platform == "linux"
shellingham==1.5.3 ; python_version >= "3.9" and python_version < "3.13"
tomli==2.0.1 ; python_version >= "3.9" and python_version < "3.11"
tomlkit==0.12.1 ; python_version >= "3.9" and python_version < "3.13"
trove-classifiers==2023.9.19 ; python_version >= "3.9" and python_version < "3.13"
urllib3==2.0.5 ; python_version >= "3.9" and python_version < "3.13"
virtualenv==20.24.5 ; python_version >= "3.9" and python_version < "3.13"
xattr==0.10.1 ; python_version >= "3.9" and python_version < "3.13" and sys_platform == "darwin"
zipp==3.17.0 ; python_version >= "3.9" and python_version < "3.12"
